:root {
  /* --oxford-blue: #011936ff;
  --celadon: #a6d3a0ff;
  --celtic-blue: #226ce0ff;
  --dark-spring-green: #04724dff;
  --platinum: #dfe0e2ff; */

  --dark: #011936;
  --light: #dfe0e2;
  --accent-blue: #226ce0;
  --accent-green: #04724d;
  --accent-lt-green: #a6d3a0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-plus-code-latin {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--dark);
  font-family: sans-serif;
}

h1 {
  color: var(--light);
  margin: 12px auto;
  font-family: "Caveat", cursive;
  text-align: center;
}

#today, #tomorrow {
  width: 100vw;
  height: 100vh;
}

button {
  color: black;
}

#new-btn, #refresh-btn {
  float: right;
  margin-right: 5%;
}

.day-container {
  width: 90%;
  background-color: var(--light);
  border: 5px solid var(--accent-green);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  overflow-y: auto;
}

#today-container, #tomorrow-container {
  height: calc(100% - 140px);
}

.btn {
  padding: 4px;
  background-color: var(--light);
  border-radius: 4px;
  margin-bottom: 8px;
}

#add-btn, #close-btn, #close-btn2, #update-btn {
  width: 60px;
  margin-left: 8px;
  margin-right: 8px;
}

.task-form {
  display: flex;
  position: fixed;
  top: 112px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--dark);
  color: var(--light);
  border: 2px solid var(--accent-lt-green);
  border-radius: 4px;
  padding: 4px;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.task-form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 4px;
}

.task-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#task-input, #task-edit {
  width: 80%;
  margin-bottom: 10px;
  padding: 2px;
}

.task {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls {
  display: inline;
}

.edit-btn, .done-btn, .tom-btn, .tod-btn {
  border: none;
  background-color: transparent;
  margin-left: 4px;
}

/* .todo {
  text-decoration: none;
} */

.done {
  .task-text {
    text-decoration: line-through;
    opacity: 60%;
  }
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: var(--platinum);
  float: right;
  margin-top: 8px;
  margin-right: 5%;
}

footer {
  background-color: var(--platinum);
}
