*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[hidden] {
  display: none;
}
