.m-plus-code-latin {
  font: {
    family: "M PLUS Code Latin", monospace;
    weight: 400;
    style: normal;
  }
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.caveat {
  font: {
    family: "Caveat", cursive;
    weight: 400;
    style: normal;
  }
  font-optical-sizing: auto;
}
